@charset "UTF-8";

:root {
    --BODY:       #f0f6f6;
    --HEADER:     #0a507e;
    --CAIXA:      #ffffff;
    --FOOTER:     #0a507e;
    --FONT-LOGIN: #393939de;
    --FONT:       #ffffff;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    background-color: var(--HEADER);
    height: 90px;
}

body {
    background-color: var(--BODY);
}

#logo-centralizar {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 0px 0px 0px;
}

/* HEADER */

/* CONTEÚDO */



/* CONTEÚDO */

/* RODAPÉ */

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 5px;
    background-color: var(--FOOTER);
}

footer > p {
    text-align: center;
    color: var(--FONT);
}

footer > p > a {
    text-decoration: none;
    font-size: 1em;
    color: var(--FONT);
}

footer > p > a:hover {
    text-decoration: underline;
}

/* RODAPÉ */