@charset "UTF-8";

:root {
    --HEADER: #0c5b91;
    --NAV: #1a729f;
    --NAV-HOVER: #124e6b;
    --BODY: #f0f6f6;
    --MAIN: #e5ebeb; 
    --FONT-COLOR: #ffffff;
    --FOOTER-COLOR: #124e6b;
    --FONT-BASE: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--FONT-BASE);
    color: var(--FONT-COLOR);
}

body {
    background-color: var(--BODY);
    transition: 0.2s linear;
}

header {
    background-color: var(--HEADER);
    min-height: 150px;
}

div#sudesb {
    position: absolute;
    top: 12%;
    left: 10%;
    transform: translate(-50%, -50%);
}

div#sudesb img {
    width: 220px;
    box-sizing: border-box;
}

#logo {
    width: 4%;
    display: block;
    margin: auto;
    padding: 5px 0px 5px 0px;
}

h1 {
    text-align: center;
    font-size: 2em;
}

header > p {
    text-align: center;
    font-size: 0.9em;
    padding: 5px 0px 5px 0px;
}

nav {
    text-align: right;
    position: relative;
    top: 18px;
    background-color: var(--NAV);
    padding: 4px 0px 0px 0px;
}

nav > a {
    font-weight: bold;
    font-size: 1em;

    text-decoration: none;

    padding: 4px 0px 0px 0px;
    margin: 0px 0px 0px 5px;

    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--NAV-HOVER);
    padding-left: 30px;
    padding-right: 10px;
}

main {
    background-color: var(--MAIN);
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 1px 20px #767a7a54;
    max-width: 900px;
    margin: auto;
}

footer {
    background-color: var(--FOOTER-COLOR);
    text-align: center;
    font-size: 0.9em;

    padding: 1px 0px 11px 0px;
    height: 15px;
    width: 100%;

}

footer > p {
    text-align: center;
    position: relative;
    bottom: -37%;
}

#sudesb-footer {
    text-decoration: none;
    font-weight: bold;
}

#sudesb-footer:hover {
    text-decoration: underline;
}

body.dark {
    background-color: #4b4e4e;
}

body.dark main{
    background-color: #7a7e7e;
}

body.dark nav{
    background-color: #151f26;
}

body.dark header{
    background-color: #0e161b;
}

body.dark footer{
    background-color: #151f26;
}

body.dark .label {
    background-color: #151f26;
}

body.dark .imagem-1{
    background-color: #1c2b34;
}

body.dark .imagem-2{
    background-color: #1c2b34;
}

body.dark .imagem-3{
    background-color: #1c2b34;
}

body.dark .imagem-4{
    background-color: #1c2b34;
}

body.dark .imagem-5{
    background-color: #1c2b34;
}

body.dark .imagem-6{
    background-color: #1c2b34;
}

body.dark .imagem-7{
    background-color: #1c2b34;
}

body.dark .imagem-8{
    background-color: #1c2b34;
}

body.dark .imagem-9{
    background-color: #1c2b34;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #124e6b;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 6px;
    position: relative;
    right: -95%;
    width: 42px;

    transform: scale(1.5);
}

.label .ball {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 4px;

    height: 25px;
    width: 25px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(20px);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}